Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
APScheduler==3.10.4
itsdangerous==2.1.2
weasyprint==60.2
yfinance==0.2.36
requests==2.31.0
python-dotenv==1.0.0
Werkzeug==3.0.1
PyPDF2==3.0.1
pycryptodome==3.19.0
flask-limiter>=3.5.0
